# **Theorotical Questions**

**1] What are data structures, and why are they important?**

Data structures are ways to organize and store data in a computer so that it can be accessed and modified efficiently. Think of them as containers used to group and manage data logically and efficiently.


Why Are Data Structures Important?
- Efficiency
The right data structure helps optimize the performance of programs (faster searching, sorting, and data access).

- Problem Solving
Many coding problems and algorithms are built around specific data structures.

* Memory Management
Helps in saving memory by storing data in the most suitable form.

* Real-world Application
They are used in real-life systems like databases, operating systems, AI, etc.

**2] Explain the difference between mutable and immutable data types with examples**

* Property of mutable data type can be chnages where for Immutable data type it can nit changed.

In [ ]:
# Mutable Example:

my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)

[10, 2, 3]

In [ ]:
# Immutable Example:

a = "hello"
a = "H" + a[1:]  # Create a new string
print(a)

Hello

**3] What are the main differences between lists and tuples in Python?**

List -                                           
- Can be changed
- use of [ ]
- We can add or remove elements
- Used when data may changes.

Tuple -
- Can not changed
- use of ( )
- We can not add or remove elements
- Data should stay same.

**4] Describe how dictionaries store data**

A dictionary in Python stores data as key-value pairs, like a real dictionary where a word (key) maps to a meaning (value).

In [ ]:
student= {"name": "abc", "age":"25"}
type(student)

dict

**5] Why might you use a set instead of a list in Python**

A set is a collection that:

- Does not allow duplicates
- Is faster for checking if an item exists (in)
- Is un-ordered

In [ ]:
a = [1, 2, 2, 3, 4, 4]  # here it is list having duplicate values
a = set(a)
print(a) # this set will give all unique values.

{1, 2, 3, 4}

**6] What is a string in Python, and how is it different from a list**

A string is a sequence of characters used to store text

- String has only Characters where list can have numbers, integers and characters,tec.
- String is immutable where list is mutable

**7] How do tuples ensure data integrity in Python?**

A tuple is an immutable (unchangeable) sequence in Python.
Because of this, it helps ensure data integrity, meaning the data stays safe and unchanged.

In [ ]:
m = (10, 20)  # A tuple

m[0]

10

In [ ]:
m[0]= 50 # It will give error, No one can change the tuple hence the original data stays safe and trusted.

TypeError: 'tuple' object does not support item assignment

**8] What is a hash table, and how does it relate to dictionaries in Python**

A hash table is a data structure that stores data in key-value pairs and allows fast access using keys.
- It works like a smart address book:
- You give it a key (like a name),
- It uses a hash function to find the memory location (address),
- And gives back the value quickly

In [ ]:
p = {
    "name": "pallavi",
    "age": 25
}

In [ ]:
p

{'name': 'pallavi', 'age': 25}

**9] Can lists contain different data types in Python**

In Python, a list can hold multiple types of data all together.

Here
- int= (10)
- str =("hello")
- float =(3.14)
- bool= (True)
- list =([1, 2])
- dict= ({'a': 1})

In [ ]:
list_items = [10, "hello", 3.14, True, [1, 2], {"a": 1}]
print(list_items)

[10, 'hello', 3.14, True, [1, 2], {'a': 1}]

**10] Explain why strings are immutable in Python**

Strings are immutable in Python, which means you cannot change a string once it is created.

- Data Safety	- Prevents accidental changes to text, especially when shared across code
- Hashing - Strings can be used as dictionary keys (needs them to be unchanged)
- Performance - Immutable objects are faster to work with and easier to optimize internally
- Consistency - Makes behavior predictable and easier to debug

In [ ]:
k = "hello"
text[k] = "H"

#To change the string, we need to create new string.

NameError: name 'text' is not defined

 **11] What advantages do dictionaries offer over lists for certain tasks**

 Dictionaries and lists are both useful, but dictionaries offer special benefits when you need to work with key-value pairs or named data.


 Use a dictionary when:
- You want to store named data
- You need fast access using keys
- You care about clarity and structure

In [ ]:
#Dictionary
person = {"name": "Pallavi", "age": 25, "city": "kolhapur"}
print(person["age"])

25

In [ ]:
#List
person = ["Pallavi", 25, "Kolhapur"]
print(person[1])

#we get output, but it is not clear as that of dictionary

25

**12] Describe a scenario where using a tuple would be preferable over a list**

A tuple is better than a list when you want to store fixed, unchangeable data.

In [ ]:
adhar_card_info = (516887465869)
print(adhar_card_info)

#If we use list here, anyone can easily change the original elements. Here we can not change anything, we we want to, we have to make new tuple.

516887465869

**13] How do sets handle duplicate values in Python**

Sets automatically remove duplicates.
If you add the same value more than once, the set will only keep one copy.

In [ ]:
my_set = {1, 2, 2, 3, 3, 3}
print(my_set)

{1, 2, 3}

**14]How does the “in” keyword work differently for lists and dictionaries**

The in keyword is used to check if something exists — but it works differently depending on the data type.

In [ ]:
# In a List:
# Checks if a value is in the list.
my_list = [1, 2, 3, 4, 5]
print(3 in my_list)

True

In [ ]:
# In a Dictionary:
# Checks if a key is in the dictionary — not the value.
my_dict = {"a": 1, "b": 2, "c": 3}
print("a" in my_dict)

True

In [ ]:
print(1 in my_dict)

False

**15] Can you modify the elements of a tuple? Explain why or why not**

No, you cannot modify the elements of a tuple.
Tuples are immutable, which means once created, their content cannot be changed.

- Data Safety	- Prevents accidental changes to text, especially when shared across code
- Hashing - Strings can be used as dictionary keys (needs them to be unchanged)
- Performance - Immutable objects are faster to work with and easier to optimize internally

In [ ]:
t = (1, 2, 3)
t[0] = 10

TypeError: 'tuple' object does not support item assignment

**16] What is a nested dictionary, and give an example of its use case**

A nested dictionary is a dictionary inside another dictionary.

It lets you store more complex, structured data

In [ ]:
students = {
    "student1": {"name": "Pallavi", "age": 20, "grade": "A"},
    "student2": {"name": "ruhi", "age": 22, "grade": "B"},
}

In [ ]:
print(students["student1"]["name"])

Pallavi

 **17] Describe the time complexity of accessing elements in a dictionary**

  Accessing items in a dictionary is very fast
In most cases, it takes the same short time, no matter how big the dictionary is.

In [ ]:
my_dict = {"a": 1, "b": 2, "c": 3}
print(my_dict["a"])

#Even if the dictionary has 1000 items, looking up "a" is still very quick.

1

 **18] In what situations are lists preferred over dictionaries**

 You should use a list instead of a dictionary when:
 - Order Matters
 - You Just Need Values (No Keys)
 - You Want to Loop Through Items
 - Duplicates Are Allowed
 -

**19] Why are dictionaries considered unordered, and how does that affect data retrieval**

- The items didn't keep the order in which you added them in older version of Python
- When you printed or looped through the dictionary, the order could change.
- Now, they remember order, but order is not guaranteed to matter in how they work.
- Retrieving by key is always fast, no matter the order.
That’s the main advantage of using dictionaries.

**20] Explain the difference between a list and a dictionary in terms of data retrieval.**

In [ ]:
# List: Uses Index (Number Position)
# You access items using position numbers (starting at 0).
# The order of items matters.
fruits = ["apple", "banana", "mango"]
print(fruits[1])

banana

In [ ]:
#Dictionary: Uses Key (Name)
# You access items using a key (like a label or name).
# The order doesn’t matter for retrieval — the key matters

person = {"name": "Pallavi", "age": 25}
print(person["age"])

#You can access the value by its name, which is easier to understand.

25

#**Practical Questions**

**1] Write a code to create a string with your name and print it**

In [1]:
name = "Pallavi"
print(name)

Pallavi

**2] Write a code to find the length of the string "Hello World"**

In [3]:
a = "Hello World"
len(a)

11

**3]Write a code to slice the first 3 characters from the string "Python Programming"**

In [8]:
a = "Python Programming"
a[:3]

'Pyt'

**4] Write a code to convert the string "hello" to uppercase**

In [16]:
u = "hello"
u.upper()

'HELLO'

 **5] Write a code to replace the word "apple" with "orange" in the string "I like apple"**

In [19]:
fruits = "I like apple"
fruits.replace("apple", "orange")

'I like orange'

**6] Write a code to create a list with numbers 1 to 5 and print it**

In [5]:
a = list(range(1,6))
print(a)

[1, 2, 3, 4, 5]

**7]Write a code to append the number 10 to the list [1, 2, 3, 4]**

In [6]:
list_2 = [1, 2, 3, 4]
list_2.append(10)

print(list_2)

[1, 2, 3, 4, 10]

 **8]Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]**

In [12]:
list_3 = [1, 2, 3, 4, 5]
list_3.pop(2)
print(list_3)

[1, 2, 4, 5]

**9] Write a code to access the second element in the list ['a', 'b', 'c', 'd']**

In [14]:
list_4 = ['a', 'b', 'c', 'd']
list_4[1]

'b'

**10] Write a code to reverse the list [10, 20, 30, 40, 50].**

In [20]:
list_5 = [10, 20, 30, 40, 50]
list_5 [::-1]

[50, 40, 30, 20, 10]

 **11] Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [22]:
a = (100, 200, 300)
print(a)

(100, 200, 300)

In [23]:
type(a)

tuple

**12] Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')**

In [25]:
b = ('red', 'green', 'blue', 'yellow')
b[2]

'blue'

**13] Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [28]:
c = (10, 20, 5, 15)
minimum_number = min(c)
print(minimum_number)

5

**14] Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [29]:
d = ('dog', 'cat', 'rabbit')
d.index('cat')

1

**15] Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [31]:
e = ("mango" , "banana" , "orange")

if "kiwi" in e:
  print("kiwi is in the list")
else:
  print("kiwi is not in the list")

kiwi is not in the list

 **16] Write a code to create a set with the elements 'a', 'b', 'c' and print it**.

In [33]:
set_1 = {'a', 'b', 'c' }
print(set_1)

{'c', 'b', 'a'}

In [34]:
type(set_1)

set

**17] Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [36]:
set_2 = {1, 2, 3, 4, 5}
set_2.clear()
print(set_2)

set()

**18] Write a code to remove the element 4 from the set {1, 2, 3, 4}**

In [37]:
set_3 = {1, 2, 3, 4}
set_3.remove(4)
print(set_3)

{1, 2, 3}

**19] Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}**.

In [39]:
set_4 = {1, 2, 3}
set_5 = {3, 4, 5}
set_final = set_4.union(set_5)
print(set_final)

{1, 2, 3, 4, 5}

**20] write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [41]:
set_6 = {1, 2, 3}
set_7 = {2, 3, 4}
set_final2 = set_6.intersection(set_7)
print(set_final2)

{2, 3}

**21] Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [42]:
info = {"name" : "pallavi" , "age" : 25 , "city" : "kolhapur"}
print(info)

{'name': 'pallavi', 'age': 25, 'city': 'kolhapur'}

**22] Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}**

In [44]:
dictionary_1 = {'name': 'John', 'age': 25}
dictionary_1["country"] = "USA"
print(dictionary_1)

{'name': 'John', 'age': 25, 'country': 'USA'}

**23] Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [49]:
dictionary_2 = {'name': 'Alice', 'age': 30}
dictionary_2['name']

'Alice'

**24] Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}**

In [52]:
dict_3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict_3.pop('age')
print(dict_3)

{'name': 'Bob', 'city': 'New York'}

**25] Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [54]:
dict_4 = {'name': 'Alice', 'city': 'Paris'}
print("city" in dict_4)

True

**26] Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [55]:
list_ex = [1, 2, 3]
tuple_ex = (4, 5, 6)
dict_ex = {'a': 7, 'b': 8}

print(list_ex)
print(tuple_ex)
print(dict_ex)

[1, 2, 3]
(4, 5, 6)
{'a': 7, 'b': 8}

**27] Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)**

In [57]:
import random

numbers = random.sample(range(1, 101), 5)
numbers.sort()

print(numbers)

[13, 21, 55, 70, 73]

**28] Write a code to create a list with strings and print the element at the third index.**

In [59]:
names = ["pallavi", "ruhi" , "vrushali", "arati", "raj"]
print(names[3])

arati

**29] Write a code to combine two dictionaries into one and print the result.**

In [61]:
student1= {"name": "pallavi", "age":"25"}
student2= {"city": "kolhapur" , "pin code": "416004"}
student = {**student1, **student2}
print(student)

{'name': 'pallavi', 'age': '25', 'city': 'kolhapur', 'pin code': '416004'}

**30] Write a code to convert a list of strings into a set.**

In [68]:
names = ["pallavi", "ruhi" , "vrushali", "arati", "raj"]
set_names= set(names)
print(set_names)

{'ruhi', 'pallavi', 'vrushali', 'arati', 'raj'}